Django==1.6
M2Crypto==0.22.3
django_extensions
python-dateutil
Unipath
GitPython
factory-boy
pytz
git+https://github.com/botswana-harvard/edc-base@master#egg=edc-base
git+https://github.com/botswana-harvard/edc-constants@master#egg=edc-constants
git+https://github.com/botswana-harvard/edc-sync@master#egg=edc-sync
git+https://github.com/botswana-harvard/edc-crypto-fields@develop#egg=edc-crypto-fields
git+https://github.com/botswana-harvard/edc-device@master#egg=edc-device
git+https://github.com/botswana-harvard/edc-audit@master#egg=edc-audit
git+https://github.com/erikvw/django-revision@master#egg=django-revision
