Django>=1.8.2
astm==0.5.0
Unipath==1.1
django_crypto_fields
-e git+https://github.com/botswana-harvard/edc-base@develop#egg=edc-base
-e git+https://github.com/botswana-harvard/edc-constants@develop#egg=edc-constants
